* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
}

.menu {
  display: flex;
  flex-direction: column;

  &__cofee {
    display: flex;
    flex-wrap: wrap;

    &__espresso {
      display: flex;
      flex-direction: column;
    }

    &__filter-special {
      display: flex;
      align-items: space-between;

      &__special {
        display: flex;
        flex-direction: column;
      }

      &__special {
        display: flex;
        flex-direction: column;
      }
    }

    &__iced {
      display: flex;
      flex-direction: column;
    }

    &__hot {
      display: flex;
      flex-direction: column;
    }
  }

  .price {
    display: flex;
    justify-content: space-between;
  }
}
